In [1]:
import math
import collections
import urllib.request

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [2]:
pd.options.display.max_rows = 16

In [16]:
#namw0comma = str(Div, Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,GBH,GBD,GBA,IWH,IWD,IWA,LBH,LBD,LBA,SBH,SBD,SBA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,BSH,BSD,BSA,Bb1X2,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,BbOU,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA)
#namwcomma  = [.join('')]
Season910 = pd.read_csv('season-0910_csv.csv')

In [18]:
Season910.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 71 columns):
Div         380 non-null object
Date        380 non-null object
HomeTeam    380 non-null object
AwayTeam    380 non-null object
FTHG        380 non-null int64
FTAG        380 non-null int64
FTR         380 non-null object
HTHG        380 non-null int64
HTAG        380 non-null int64
HTR         380 non-null object
Referee     380 non-null object
HS          380 non-null int64
AS          380 non-null int64
HST         380 non-null int64
AST         380 non-null int64
HF          380 non-null int64
AF          380 non-null int64
HC          380 non-null int64
AC          380 non-null int64
HY          380 non-null int64
AY          380 non-null int64
HR          380 non-null int64
AR          380 non-null int64
B365H       380 non-null float64
B365D       380 non-null float64
B365A       380 non-null float64
BWH         380 non-null float64
BWD         380 non-null float64
BWA         380 non-null float64
GBH         380 non-null float64
GBD         380 non-null float64
GBA         380 non-null float64
IWH         380 non-null float64
IWD         380 non-null float64
IWA         380 non-null float64
LBH         380 non-null float64
LBD         380 non-null float64
LBA         380 non-null float64
SBH         380 non-null float64
SBD         380 non-null float64
SBA         380 non-null float64
WHH         380 non-null float64
WHD         380 non-null float64
WHA         380 non-null float64
SJH         380 non-null float64
SJD         380 non-null float64
SJA         380 non-null float64
VCH         380 non-null float64
VCD         380 non-null float64
VCA         380 non-null float64
BSH         380 non-null float64
BSD         380 non-null float64
BSA         380 non-null float64
Bb1X2       380 non-null int64
BbMxH       380 non-null float64
BbAvH       380 non-null float64
BbMxD       380 non-null float64
BbAvD       380 non-null float64
BbMxA       380 non-null float64
BbAvA       380 non-null float64
BbOU        380 non-null int64
BbMx>2.5    380 non-null float64
BbAv>2.5    380 non-null float64
BbMx<2.5    380 non-null float64
BbAv<2.5    380 non-null float64
BbAH        380 non-null int64
BbAHh       380 non-null float64
BbMxAHH     380 non-null float64
BbAvAHH     380 non-null float64
BbMxAHA     380 non-null float64
BbAvAHA     380 non-null float64
dtypes: float64(45), int64(19), object(7)
memory usage: 210.9+ KB

In [19]:
Season910.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA
0,E0,2009-08-15,Aston Villa,Wigan,0,2,A,0,1,A,...,2.04,1.92,1.91,1.81,21,0.0,1.28,1.22,4.40,3.99
1,E0,2009-08-15,Blackburn,Man City,0,2,A,0,1,A,...,2.15,2.04,1.78,1.71,24,0.0,2.58,2.38,1.60,1.54
2,E0,2009-08-15,Bolton,Sunderland,0,1,A,0,1,A,...,2.25,2.12,1.70,1.66,23,0.0,1.68,1.61,2.33,2.23
3,E0,2009-08-15,Chelsea,Hull,2,1,H,1,1,D,...,1.67,1.58,2.44,2.26,22,0.0,1.03,1.02,17.05,12.96
4,E0,2009-08-15,Everton,Arsenal,1,6,A,0,3,A,...,2.20,2.06,1.77,1.70,24,0.0,2.27,2.20,1.73,1.63

In [3]:
# a function to create list consisting 0910, 1011, 1112 ... 1819 where num1 is '09' and num2 is '19'
def combine(num1, num2): 
    combine  = [''.join([str("{:02d}"                   # converting num1 to a string and using 2 integer places so forming season as 0910 rather than 1011
                             .format(num)), 
                         str("{:02d}".format(num+1))]) for num in range(num1,num2)]
    return combine

In [4]:
combine(9,19)

['0910',
 '1011',
 '1112',
 '1213',
 '1314',
 '1415',
 '1516',
 '1617',
 '1718',
 '1819']

In [5]:
# concat all csvs for seasons between year 9 and 19 and assigning a new column seas

allyears = pd.concat(pd.read_csv(f'season-{seas}_csv.csv')
                     .assign(seas=seas)
                     for seas in combine(9,19))

C:\Users\admin\Documents\CyberLink\New folder\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """

In [6]:
allyears.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3800 entries, 0 to 379
Data columns (total 78 columns):
AC          3800 non-null int64
AF          3800 non-null int64
AR          3800 non-null int64
AS          3800 non-null int64
AST         3800 non-null int64
AY          3800 non-null int64
AwayTeam    3800 non-null object
B365A       3800 non-null float64
B365D       3800 non-null float64
B365H       3800 non-null float64
BSA         1520 non-null float64
BSD         1520 non-null float64
BSH         1520 non-null float64
BWA         3799 non-null float64
BWD         3799 non-null float64
BWH         3799 non-null float64
Bb1X2       3800 non-null int64
BbAH        3790 non-null float64
BbAHh       3790 non-null float64
BbAv<2.5    3800 non-null float64
BbAv>2.5    3800 non-null float64
BbAvA       3800 non-null float64
BbAvAHA     3790 non-null float64
BbAvAHH     3790 non-null float64
BbAvD       3800 non-null float64
BbAvH       3800 non-null float64
BbMx<2.5    3800 non-null float64
BbMx>2.5    3800 non-null float64
BbMxA       3800 non-null float64
BbMxAHA     3790 non-null float64
BbMxAHH     3790 non-null float64
BbMxD       3800 non-null float64
BbMxH       3800 non-null float64
BbOU        3800 non-null int64
Date        3800 non-null object
Div         3800 non-null object
FTAG        3800 non-null int64
FTHG        3800 non-null int64
FTR         3800 non-null object
GBA         1519 non-null float64
GBD         1519 non-null float64
GBH         1519 non-null float64
HC          3800 non-null int64
HF          3800 non-null int64
HR          3800 non-null int64
HS          3800 non-null int64
HST         3800 non-null int64
HTAG        3800 non-null int64
HTHG        3800 non-null int64
HTR         3800 non-null object
HY          3800 non-null int64
HomeTeam    3800 non-null object
IWA         3799 non-null float64
IWD         3799 non-null float64
IWH         3799 non-null float64
LBA         3419 non-null float64
LBD         3419 non-null float64
LBH         3419 non-null float64
PSA         2660 non-null float64
PSCA        2660 non-null float64
PSCD        2660 non-null float64
PSCH        2660 non-null float64
PSD         2660 non-null float64
PSH         2660 non-null float64
Referee     3800 non-null object
SBA         1140 non-null float64
SBD         1140 non-null float64
SBH         1140 non-null float64
SJA         1940 non-null float64
SJD         1940 non-null float64
SJH         1940 non-null float64
VCA         3800 non-null float64
VCD         3800 non-null float64
VCH         3800 non-null float64
WHA         3800 non-null float64
WHD         3800 non-null float64
WHH         3800 non-null float64
seas        3800 non-null object
dtypes: float64(52), int64(18), object(8)
memory usage: 2.3+ MB

In [7]:
allyears.head()

,AC,AF,AR,AS,AST,AY,AwayTeam,B365A,B365D,B365H,...,SJA,SJD,SJH,VCA,VCD,VCH,WHA,WHD,WHH,seas
0,6,14,0,14,7,2,Wigan,5.50,3.60,1.67,...,5.50,3.60,1.67,5.0,3.4,1.70,5.50,3.4,1.70,0910
1,4,9,0,8,5,1,Man City,2.10,3.25,3.60,...,2.20,3.25,3.30,2.2,3.2,3.25,2.15,3.2,3.50,0910
2,7,10,0,20,13,1,Sunderland,3.25,3.25,2.25,...,3.10,3.25,2.30,3.1,3.2,2.25,3.20,3.2,2.30,0910
3,4,15,0,7,3,2,Hull,21.00,6.50,1.17,...,17.00,6.50,1.18,17.0,6.0,1.17,21.00,6.5,1.17,0910
4,9,13,0,15,9,0,Arsenal,2.30,3.25,3.20,...,2.25,3.25,3.25,2.3,3.3,2.90,2.30,3.2,3.20,0910

In [8]:
allyears.set_index(['seas', 'Date'])

                 AC  AF  AR  AS  AST  AY        AwayTeam  B365A  B365D  B365H  \
seas Date
0910 2009-08-15   6  14   0  14    7   2           Wigan   5.50   3.60   1.67
     2009-08-15   4   9   0   8    5   1        Man City   2.10   3.25   3.60
     2009-08-15   7  10   0  20   13   1      Sunderland   3.25   3.25   2.25
     2009-08-15   4  15   0   7    3   2            Hull  21.00   6.50   1.17
     2009-08-15   9  13   0  15    9   0         Arsenal   2.30   3.25   3.20
     2009-08-15   4  18   0   9    3   2          Fulham   2.75   3.20   2.63
     2009-08-15   6  10   0   9    5   2         Burnley   4.33   3.30   1.91
     2009-08-15   6   5   0  16   13   0        West Ham   2.70   3.30   2.63
     2009-08-16   2   7   0   6    4   1      Birmingham  17.00   6.00   1.20
     2009-08-16   5  16   0   6    3   3       Liverpool   2.30   3.25   3.20
     2009-08-18  14  10   0  20    9   2         Chelsea   1.53   4.00   6.50
     2009-08-18   4  21   0   9    3   3          Wolves   5.25   3.60   1.73
     2009-08-19   5  20   0   9    4   5      Portsmouth   4.00   3.30   2.00
     2009-08-19  12  12   0  18    9   1      Man United   1.33   5.00   9.50
     2009-08-19   5  13   0  18   12   2       Tottenham   2.00   3.50   3.75
     2009-08-19   5   9   0   6    3   1           Stoke  13.00   5.50   1.25
     2009-08-22   4  10   0   9    4   0      Portsmouth  19.00   7.00   1.17
     2009-08-22   3  13   0  13    3   3           Stoke   3.25   3.20   2.30
     2009-08-22  12  19   0  20   10   2          Bolton   2.80   3.25   2.60
     2009-08-22   6  11   0  10    2   1          Wolves  12.00   4.50   1.33
     2009-08-22  10  14   0  18    5   1       Blackburn   3.75   3.25   2.10
     2009-08-22   5   8   0  16   13   2      Man United   1.53   4.00   6.50
     2009-08-23   7  13   0  17   11   0         Everton   2.20   3.30   3.40
     2009-08-23   7  10   0  12    4   0         Chelsea   1.57   3.80   6.50
     2009-08-23   8  11   0  17   10   1       Tottenham   2.38   3.25   3.10
     2009-08-24   4  11   0   7    4   2     Aston Villa   8.00   4.20   1.44
     2009-08-29   2  18   0  11    5   3        West Ham   3.50   3.30   2.20
     2009-08-29  11   7   0  26   14   1       Liverpool   1.53   4.00   7.00
     2009-08-29   1   5   0   3    0   1         Burnley  21.00   8.00   1.14
     2009-08-29   5  15   0   9    3   6         Arsenal   3.50   3.30   2.20
...              ..  ..  ..  ..  ...  ..             ...    ...    ...    ...
1819 26/04/2019   4  14   0   5    1   0    Huddersfield  41.00  15.00   1.07
     27/04/2019   4  10   0   9    1   3       Newcastle   3.60   3.20   2.30
     27/04/2019  10  15   0  22    3   0         Everton   2.80   3.50   2.62
     27/04/2019   3   8   0  13    8   0         Cardiff   3.00   3.60   2.40
     27/04/2019   3   9   0   9    5   1     Bournemouth   4.10   3.90   1.90
     27/04/2019   7   8   0  16    7   2        West Ham   7.50   5.50   1.40
     27/04/2019   5  11   0  11    4   2          Wolves   2.90   3.30   2.62
     28/04/2019   6   7   0  25    7   1        Man City   1.14   9.00  23.00
     28/04/2019   6  13   1   6    1   1         Arsenal   2.60   3.60   2.75
     28/04/2019   6  14   0  16    3   2         Chelsea   2.70   3.50   2.70
     03/05/2019   1   9   0   5    1   2         Burnley   5.75   4.00   1.66
     04/05/2019   6  12   2  11    5   5       Tottenham   1.90   4.00   4.00
     04/05/2019   5  11   0  21    7   0  Crystal Palace   2.70   3.75   2.60
     04/05/2019   3   4   0  11    4   1       Liverpool   1.36   5.25   9.50
     04/05/2019   7  11   0  11    1   1     Southampton   3.10   3.75   2.30
     04/05/2019   1  15   0   6    2   3          Fulham   7.50   4.20   1.53
     05/05/2019   3  14   0  11    5   2        Brighton   9.00   5.00   1.40
     05/05/2019   6  12   0  15    3   1         Watford   8.00   5.25   1.40
     05/05/2019   7  10   0  23    7   1      Man United   1.30   6.00  11.00
     06/05/2019   0   5   0   7    2   2       Leicester  17.00   8.50   1.12
     12/05/2019   6   8   0  20    9   0        Man City   1.16   8.50  19.00
     12/05/2019   5   3   0  17    6   1         Arsenal   2.20   3.80   3.25
     12/05/2019   4   8   0  16    8   0     Bournemouth   3.80   4.20   1.90
     12/05/2019   5   8   0  13    6   0       Newcastle   2.90   3.60   2.50
     12/05/2019   5   8   0  14    4   1         Chelsea   2.90   3.75   2.40
     12/05/2019   1  11   0   7    2   2          Wolves  11.00   6.00   1.30
     12/05/2019   2   6   0  13    4   3         Cardiff  11.00   6.50   1.28
     12/05/2019   3   6   0  10    3   1    Huddersfield   8.50   4.75   1.44
     12/05/2019   4  13   0  17    9   2         Everton   3.50   3.50   2.20
     12/05/2019   2  10   0  16    9   0        West Ham   3.20   3.75   2.25

                 ...     SBH    SJA   SJD    SJH    VCA    VCD    VCH    WHA  \
seas Date        ...
0910 2009-08-15  ...    1.65   5.50  3.60   1.67   5.00   3.40   1.70   5.50
     2009-08-15  ...    3.15   2.20  3.25   3.30   2.20   3.20   3.25   2.15
     2009-08-15  ...    2.25   3.10  3.25   2.30   3.10   3.20   2.25   3.20
     2009-08-15  ...    1.17  17.00  6.50   1.18  17.00   6.00   1.17  21.00
     2009-08-15  ...    3.00   2.25  3.25   3.25   2.30   3.30   2.90   2.30
     2009-08-15  ...    2.40   2.70  3.20   2.63   2.62   3.20   2.62   2.60
     2009-08-15  ...    1.90   4.33  3.25   1.91   4.00   3.25   1.90   4.00
     2009-08-15  ...    2.50   2.75  3.20   2.60   2.62   3.25   2.50   2.70
     2009-08-16  ...    1.18  17.00  6.00   1.20  17.00   6.00   1.17  19.00
     2009-08-16  ...    3.00   2.20  3.25   3.00   2.25   3.25   3.00   2.30
     2009-08-18  ...    6.00   1.53  3.75   7.00   1.57   3.50   6.50   1.50
     2009-08-18  ...    1.70   5.00  3.50   1.73   5.00   3.50   1.67   5.00
     2009-08-19  ...    2.00   3.75  3.40   2.00   3.50   3.25   2.00   3.75
     2009-08-19  ...    9.00   1.30  5.00  11.00   1.33   4.50   9.50   1.33
     2009-08-19  ...    3.40   2.00  3.40   3.75   2.00   3.25   3.40   2.00
     2009-08-19  ...    1.22  12.00  5.50   1.25  11.00   4.50   1.29  15.00
     2009-08-22  ...    1.17  15.00  6.50   1.18  15.00   6.50   1.17  19.00
     2009-08-22  ...    2.15   3.00  3.25   2.38   3.40   3.25   2.10   3.20
     2009-08-22  ...    2.35   3.00  3.25   2.38   2.80   3.25   2.40   2.88
     2009-08-22  ...    1.25  11.00  4.50   1.33   9.00   4.50   1.33  10.00
     2009-08-22  ...    2.00   3.80  3.30   2.00   3.75   3.20   2.00   3.60
     2009-08-22  ...    5.75   1.50  4.00   7.00   1.50   3.75   7.00   1.53
     2009-08-23  ...    3.00   2.20  3.30   3.25   2.25   3.25   3.00   2.25
     2009-08-23  ...    5.50   1.57  3.75   6.50   1.50   3.75   6.50   1.57
     2009-08-23  ...    2.80   2.30  3.30   3.10   2.30   3.25   3.00   2.30
     2009-08-24  ...    1.45   7.50  4.33   1.44   8.00   4.00   1.40   8.00
     2009-08-29  ...    2.20   3.30  3.25   2.20   3.20   3.20   2.20   3.40
     2009-08-29  ...    5.50   1.57  3.80   6.00   1.57   3.60   6.00   1.53
     2009-08-29  ...    1.12  19.00  7.50   1.14  17.00   6.50   1.14  21.00
     2009-08-29  ...    2.10   3.60  3.25   2.10   3.40   3.20   2.10   3.50
...              ...     ...    ...   ...    ...    ...    ...    ...    ...
1819 26/04/2019  ...     NaN    NaN   NaN    NaN  46.00  15.00   1.07  41.00
     27/04/2019  ...     NaN    NaN   NaN    NaN   3.60   3.20   2.30   3.50
     27/04/2019  ...     NaN    NaN   NaN    NaN   2.88   3.40   2.63   2.80
     27/04/2019  ...     NaN    NaN   NaN    NaN   3.10   3.60   2.40   3.00
     27/04/2019  ...     NaN    NaN   NaN    NaN   4.30   3.80   1.90   4.20
     27/04/2019  ...     NaN    NaN   NaN    NaN   7.50   5.00   1.45   7.00
     27/04/2019  ...     NaN    NaN   NaN    NaN   2.90   3.25   2.70   2.80
     28/04/2019  ...     NaN    NaN   NaN    NaN   1.14   9.00  23.00   1.12
     28/04/2019  ...     NaN    NaN   NaN    NaN   2.55   3.60   2.75   2.55
     28/04/2019  ...     NaN    NaN   NaN    NaN   2.75   3.50   2.63   2.70
     03/05/2019  ...     NaN    NaN   NaN    NaN   5.75   4.00   1.67   5.50
     04/05/2019  ...     NaN    NaN   NaN    NaN   1.90   3.90   4.20   1.88
     04/05/2019  ...     NaN    NaN   NaN    NaN   2.70   3.70   2.60   2.62
     04/05/2019  ...     NaN    NaN   NaN    NaN   1.36   5.00  11.00   1.33
     04/05/2019  ...     NaN    NaN   NaN    NaN   3.13   3.70   2.30   3.00
     04/05/2019  ...     NaN    NaN   NaN    NaN   7.00   4.10   1.57   7.00
     05/05/2019  ...     NaN    NaN   NaN    NaN   8.50   4.80   1.40   8.50
     05/05/2019  ...     NaN    NaN   NaN    NaN   9.00   5.00   1.40   8.50
     05/05/2019  ...     NaN    NaN   NaN    NaN   1.33   5.25  12.00   1.30
     06/05/2019  ...     NaN    NaN   NaN    NaN  18.00   8.50   1.17  17.00
     12/05/2019  ...     NaN    NaN   NaN    NaN   1.15   8.50  21.00   1.14
     12/05/2019  ...     NaN    NaN   NaN    NaN   2.20   3.80   3.13   2.20
     12/05/2019  ...     NaN    NaN   NaN    NaN   4.10   4.10   1.85   3.90
     12/05/2019  ...     NaN    NaN   NaN    NaN   2.88   3.50   2.50   2.75
     12/05/2019  ...     NaN    NaN   NaN    NaN   2.90   3.70   2.40   2.88
     12/05/2019  ...     NaN    NaN   NaN    NaN  11.50   5.75   1.30  11.00
     12/05/2019  ...     NaN    NaN   NaN    NaN  11.00   6.25   1.29  10.00
     12/05/2019  ...     NaN    NaN   NaN    NaN   8.50   4.80   1.40   8.00
     12/05/2019  ...     NaN    NaN   NaN    NaN   3.70   3.50   2.10   3.50
     12/05/2019  ...     NaN    NaN   NaN    NaN   3.25   3.75   2.20   3.10

                   WHD    WHH
seas Date
0910 2009-08-15   3.40   1.70
     2009-08-15   3.20   3.50
     2009-08-15   3.20   2.30
     2009-08-15   6.50   1.17
     2009-08-15   3.20   3.20
     2009-08-15   3.20   2.75
     2009-08-15   3.20   2.00
     2009-08-15   3.20   2.62
     2009-08-16   5.50   1.20
     2009-08-16   3.20   3.20
     2009-08-18   3.80   7.50
     2009-08-18   3.25   1.80
     2009-08-19   3.25   2.05
     2009-08-19   4.50  11.00
     2009-08-19   3.20   4.00
     2009-08-19   5.00   1.25
     2009-08-22   6.50   1.17
     2009-08-22   3.20   2.30
     2009-08-22   3.20   2.50
     2009-08-22   4.33   1.36
     2009-08-22   3.20   2.10
     2009-08-22   3.75   7.00
     2009-08-23   3.30   3.20
     2009-08-23   3.50   7.00
     2009-08-23   3.30   3.10
     2009-08-24   4.00   1.44
     2009-08-29   3.20   2.20
     2009-08-29   3.75   7.00
     2009-08-29   7.00   1.14
     2009-08-29   3.20   2.15
...                ...    ...
1819 26/04/2019  13.00   1.05
     27/04/2019   3.10   2.25
     27/04/2019   3.30   2.55
     27/04/2019   3.60   2.30
     27/04/2019   3.70   1.85
     27/04/2019   5.00   1.42
     27/04/2019   3.20   2.60
     28/04/2019   8.50  21.00
     28/04/2019   3.60   2.62
     28/04/2019   3.40   2.62
     03/05/2019   3.90   1.70
     04/05/2019   3.70   4.00
     04/05/2019   3.60   2.55
     04/05/2019   5.00  10.00
     04/05/2019   3.60   2.30
     04/05/2019   4.00   1.53
     05/05/2019   4.60   1.40
     05/05/2019   4.80   1.38
     05/05/2019   5.25  11.00
     06/05/2019   8.00   1.15
     12/05/2019   8.00  19.00
     12/05/2019   3.70   3.10
     12/05/2019   4.00   1.83
     12/05/2019   3.50   2.50
     12/05/2019   3.60   2.38
     12/05/2019   5.50   1.29
     12/05/2019   6.50   1.25
     12/05/2019   4.75   1.40
     12/05/2019   3.50   2.10
     12/05/2019   3.70   2.20

[3800 rows x 76 columns]

In [10]:
seas = '0910'
PT_sorted = ((3*(allyears[(allyears.FTR == 'A') & (allyears.seas == seas)].AwayTeam.value_counts())  # We obtain Value counts of away teams in season 'seas' of epl when Full time result was away won. Multiply those counts with 3 to obtain win points of that team on the away side  
+ allyears[(allyears.FTR == 'D') & (allyears.seas == seas)].AwayTeam.value_counts()                  # similary draw for away team
+ allyears[(allyears.FTR == 'D') & (allyears.seas == seas)].HomeTeam.value_counts()                  # and draw for home team take factor of 1
+ 3*(allyears[(allyears.FTR == 'H') & (allyears.seas == seas)].HomeTeam.value_counts())).rename_axis('Teams').reset_index(name='Points')).set_index('Points').sort_index(ascending = False)
PT_sorted

              Teams
Points
 86.0       Chelsea
 85.0    Man United
 75.0       Arsenal
 70.0     Tottenham
 67.0      Man City
 64.0   Aston Villa
 63.0     Liverpool
 61.0       Everton
 50.0     Blackburn
 50.0    Birmingham
 47.0         Stoke
 46.0        Fulham
 44.0    Sunderland
 39.0        Bolton
 38.0        Wolves
 36.0         Wigan
 35.0      West Ham
 30.0       Burnley
 28.0    Portsmouth
NaN            Hull

In [72]:
Points_tally_cons.head()

Arsenal        75.0
Aston Villa    64.0
Birmingham     50.0
Blackburn      50.0
Bolton         39.0
dtype: float64

In [52]:
#t = [max(len(allyears[allyears.seas == seas].Date.unique())) for seas in allyears.seas.unique()]
t = max([len(allyears[allyears.seas == seas].Date.unique()) for seas in allyears.seas.unique()]) # fetches me the max days played in all seasons
x = [len(allyears[allyears.seas == seas].HomeTeam.unique()) for seas in allyears.seas.unique()]
x # shows every total matches played by every unique team is 20 hence 20 teams participated in competition

[20, 20, 20, 20, 20, 20, 20, 20, 20, 20]

In [64]:
len(allyears[allyears.seas == seas].Date.unique())

106

In [63]:
# Now I have max days played were in season '1819' which were 108
# Now I create a dataframe with  (10* 20) x 108
Pointstable = pd.DataFrame(np.zeros((200, 108), 'i'))
Pointstable

,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
171,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
175,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
177,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
178,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
181,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
182,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
184,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
186,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
187,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
188,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
189,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
190,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
191,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
192,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
193,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
194,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
195,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [70]:

# now a new column with points tally as season progresses- 
# Every full time result in Win(H) of a home team is 3 
# points and every draw (D) is 1 point and Loss (A) for home team is 0 point and vice versa for Away team
seas = '0910'
# Pts_tly = np.zeros(5)
# Uniqteams = allyears[allyears.seas == seas].HomeTeam.unique()
# daysPlayed = allyears[allyears.seas == seas].Date.unique()
# pts_prog_table = pd.DataFrame((np.zeros(len(Uniqteams), len(daysPlayed), 'i'), names = [1, 2, 3]).assign(Uniqteams)
day = '2009-08-15'
team = 'Man City'
if allyears[AwayTeam == 'Man City'].FTR = 'A' or allyears[AwayTeam == 'Man City'].FTR = 'A':
    t = pd.DataFrame('Team': team, 'day1' = )
if allyears[]
# for team in allyears[allyears.seas == seas].HomeTeam.unique()     
  #  if allyears[(allyears.seas=seas) & (allyears.date = day)].FTR = 'A':
   #     pts_tly.append()
#pts_prog_table

SyntaxError: invalid syntax (<ipython-input-70-8c294dffcb42>, line 9)